<style>
    .block{
        display:inline-block;width:50%;overflow:hidden;float:left;text-align: center;
    }
</style>
<div>
    <a class="block" href="javascript:;" data-info="<%=data[0].info%>">
        <img style="width: 90%" src="<%=data[0].imgUrl%>"/>
    </a>
    <a class="block" href="javascript:;" data-info="<%=data[1].info%>">
        <img style="width: 90%" src="<%=data[1].imgUrl%>"/>
    </a>
</div>