@headerHeight:45px;
.layout{
    .layout-header{
        height: @headerHeight;
        width: 100%;
        background-color: #fff;
        box-shadow: 0  0 8px #ccc;
        z-index: 10;
        position: relative;
    }
    .layout-left{
        width: 300px;
        position: absolute;
        left: 0;
        top: @headerHeight;
        bottom: 0;
        background-color: #fff;
        .icons{
            display: flex;
            .icon{
                font-size: 35px;
                height: 60px;
                width: 60px;
                text-align: center;
                padding: 5px;
                background-color: #ffc501;
                border-radius: 50%;
            }
        }
    }

    .layout-right{
        width: 400px;
        position: absolute;
        right: 0;
        top: @headerHeight;
        bottom: 0;
        background-color: #fff;
        padding: 10px;
    }
    .layout-main{
        position: absolute;
        left: 300px;
        right: 350px;
    }
}