@headerHeight:45px;
.ant-form-item{
    margin-bottom: 15px;
}

.layout{
    .layout-header{
        height: @headerHeight;
        width: 100%;
        background-color: #fff;
        box-shadow: 0  0 8px #ccc;
        z-index: 10;
        position: relative;
    }
    .layout-left{
        width: 300px;
        position: absolute;
        left: 0;
        top: @headerHeight;
        bottom: 0;
        background-color: #fff;
        .icons{
            padding:10px;
            //display: flex;
            .icon{
                display: inline-block;
                height: 60px;
                width: 60px;
                text-align: center;
                padding: 5px;
                background-color: #d8d8d8;
                border-radius: 5px;
                margin: 6px;
                opacity: 0.9;
            }

            .icon:nth-child(4n){
                margin-right: 0;
            }

            .icon:nth-child(4n+1){
                margin-left: 0;
            }

            .icon:hover{
                opacity: 1;
                cursor: pointer;
                box-shadow: 0 0 5px 0 #d8d8d8;
            }

            i{
                font-size: 12px;
            }

            i:before{
                font-size: 35px;
                margin-bottom: 2px;
            }
        }
    }

    .layout-right{
        width: 400px;
        position: absolute;
        right: 0;
        top: @headerHeight;
        bottom: 0;
        background-color: #fff;
        padding: 10px;
    }
    .layout-main{
        position: absolute;
        left: 300px;
        right: 350px;
    }
}

.layout-loading{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    z-index: 9999999;
    background: rgba(0,0,0,0.1);
    .ant-spin-dot{
        position: absolute;
        left: 50%;
        top:50%;
        margin-left: -15px;
        margin-top: -15px;
    }
}